sudo: false

os:
  - linux

before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi
  - curl --silent -L "https://s3-us-west-1.amazonaws.com/kite-data/tensorflow/libtensorflow-cpu-linux-x86_64-1.9.0.tar.gz" | tar -C $HOME -xz
  - export LD_LIBRARY_PATH="$HOME/lib:$LD_LIBRARY_PATH"
  - curl --silent --compressed --output "$HOME/kited-test" "https://s3-us-west-1.amazonaws.com/kited-test/linux/kited-test"
  - chmod u+x "$HOME/kited-test"
  - $HOME/kited-test > ~/kited-test.log 2>&1 & sleep 10

install:
  - npm install

script:
  - npm test
  - LIVE_ENVIRONMENT=1 npm test