.vscode-dark {
  --color-green: #73c990;
  --color-blue: #6494ed;
  --color-red: #BF616A;
  --color-orange: #D08460;
  --link-color: #6494ed;
  --text-color: #9ba5b6;
  --text-color-highlight: #d6dae1;
  --button-background: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.1);
  --usage-bullet-color: rgba(255, 255, 255, 0.2);
  --examples-background: rgba(255, 255, 255, 0.05);
  --examples-output-background: rgba(0, 0, 0, 0.1);
  --open-web-link-background: rgba(255, 255, 255, 0.2);
}
