
.vscode-high-contrast {
  --color-green: lightgreen;
  --color-blue: cyan;
  --link-color: cyan;
  --text-color: white;
  --text-color-highlight: white;
  --button-background: white;
  --button-color: black;
  --border-color: white;
  --usage-bullet-color: white;
  --examples-background: black;
  --examples-output-background: black;
  --open-web-link-background: white;
  --open-web-link-color: black;
}